.charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#chartContainer{
    height: 370px; 
    width: 100%; 
}

#chartContainer1{
    height: 370px; 
    width: 100%;  
}

#chartContainer2{
    height: 670px; 
    width: 100%; 
    margin-top: 5px; 
}

#chartContainer3{
    height: 670px; 
    width: 100%; 
    margin-top: 5px; 
}

#chartContainer4{
    height: 670px; 
    width: 100%; 
    margin-top: 5px; 
}

#chartContainer5{
    height: 670px; 
    width: 100%; 
    margin-top: 5px; 
}