.error p {
    padding:5px 10px;
    border: 2px solid rgb(255, 116, 116);
    border-left-width: 10px;
    border-radius: 3px;
    box-shadow: var(--small-shadow);
    margin: .3rem;
    background-color: rgb(243, 243, 243);
}