.card {
    background-color: var(--main-bg-color);
    padding: 1.5rem;
    border-radius: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
}

.card-head h2{
    margin: 0;
}

.card-body {
    padding: 1rem;
}

.card-body p {
    margin: 1rem;
    display: block;
}

.card-body a {
    text-decoration: none;
    margin: 3rem 1rem;
}