
/* Please make sure to add common styles to this document */
 /* Import Google fonts */
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
 @import "variables.css"; 
 @import "header-drop-down.css"; 
 @import "form-controllers.css"; 
 @import "tabs-table.css";
 @import "filter-panes.css";
 @import "login-style.css";
 @import "dashboard.css";
 @import "index.css";
 
 *{
     padding:0;
     margin:0;
     box-sizing: border-box;
     font-family: var(--main-font);
 }
 
 
 /* Main Grid Layout -------------------------------------------------- */
 /* DO NOT CHANGE ! */
 .main-grid {
     display: grid;
     grid-template-columns: 1fr 80% 1fr;
     grid-template-rows: auto 8fr 50px;
     grid-template-areas:
     "header header header"
     ". content ."
     "footer footer footer";
     background-color:var(--main-layout-bg-color);
     min-height: 100vh;
 }
 
 .content {
     color:var(--main-font-color);
     grid-area: content;
     min-height: 600px;
     padding: 10px 0 30px 0;
 }
 
 header {
    display:grid;
    grid-template-columns: 150px 1fr 100px;
    grid-template-rows: 2fr;
    grid-template-areas:
    "logo nav btn";
    justify-content: space-between;
    align-items: center;
    background-color:var(--main-bg-color);
    grid-area: header;
    padding:0 5rem;
    box-shadow:0 2px 10px #ccc;
    min-height: 100px;
 }
 
 .logo {
     grid-area: logo;
 }
 
 
 footer {
     color:var(--main-bg-color);
     background-color: var(--main-dark-color);
     grid-area: footer;
     text-align: center;
     padding: 12px 0;
 }
 
 
 /* Navigation bar ---------------------------------- */
 
 header nav ul {
     list-style-type: none;
     grid-area: nav;
     margin-left: 20px;
 }
 
 header nav ul li {
     display: inline-block;
 }
 
 header .nav-profile ul li{
     display: inline-block;
 }
 
 header li a{
     text-decoration: none;
     padding: 25px 10px;
     font-weight: 500;
     color: var(--main-font-color);
     font-weight: bold;
     transition:  ease .2s;
     border-top: 3px solid #FFF;
     font-size: 1rem;
     display: inline-block;
 }
 
 nav li a:hover {
     color:var(--main-theme-color);
     border-top: 3px solid var(--main-theme-color);
 }
 
 .active {
     color: var(--main-theme-color);
     border-top: 3px solid var(--main-theme-color);
 }
 
 /* Common Styles -------------------------------------- */
 
 h1 {
     padding: 20px 0;
 }
 
 h2, h3, h4, h6 {
     padding: 25px 0 20px 0;
 }
 
 p {
     line-height: 1.8em;
 }

 .btn a {
     text-decoration: none;
     text-align: center;
 }
 
.danger {
     background-color: var(--danger);
}

.warning {
    background-color: var(--warning);
}

.success {
    background-color: var(--success);
}

.info {
    background-color: var(--info);
}

.gray {
    background-color: var(--gray);
}

.banner {
    padding:20px;
    width:100%;
    background-color: #FFF;
    text-align: center;
}

.icon-color {
    color: var(--main-dark-color);
}

.notification {
    width:100%;
    padding:0 5px;
    background-color: #fff;
    margin:5px 0;
}

.notification dd {
    display: inline-block;
    padding:10px;
}

.notification:nth-child(2n-1) {
    background-color: rgb(248, 248, 248);
}


/* Tab  -------------------------------------------------------- */

@media only screen and (max-width:1024px) {
    
    .main-grid {
        display: grid;
        grid-template-columns: 1fr 90% 1fr;
        grid-template-rows: auto auto 50px;
        grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer";
        /* background-color:var(--main-layout-bg-color); 
        /* min-height: 100vh; */
    }
   

}

/* Moblie -------------------------------------------------------- */

@media only screen and (max-width:600px) {

    .main-grid {
        display: grid;
        grid-template-columns: 1fr 90% 1fr;
        grid-template-rows: auto auto 50px;
        grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer";
        /* background-color:var(--main-layout-bg-color); */
        /* min-height: 100vh; */
    }

    .content {
        grid-area: content;
        padding: 0 10px;
    }

    header {
        all:initial;
        display:grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr auto;
        padding: 10px;
        /* justify-content: space-between; */
        /* align-items: center; */
        background-color:var(--main-bg-color);
        grid-area: header;
        box-shadow:0 2px 10px #ccc;
    }

    nav {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .logo {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        width: 50%;
        justify-self: center;
    }

    .btn-container {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: start;
        height: 100%;
    }


}