/* GLOBAL SCOPE VARIABLES*/
/* Don't change   */
:root {
    --main-theme-color: #2aaa26;
    --main-light-green: #5cca58;
    --main-dark-green: #046801;
    --main-font-color: #4b4b4b;
    --main-dark-color: #6D6D6D;
    --main-bg-color: #FFFFFF;
    --main-layout-bg-color:#eee;
    --main-link-color: rgb(6, 122, 255);
    --main-font: 'Quicksand', sans-serif;
    --large-shadow: 0 2px 10px #ccc;
    --small-shadow:0 0 5px #ccc;

/* Color COdes */
    --danger: rgb(200, 78, 78);
    --warning: rgb(233, 159, 0);
    --success: var(--main-light-green);
    --info: rgb(23, 117, 224);
    --gray: rgb(153, 153, 153);
}